@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" style="color:white">GRUPO 01</h1>
        <ul>
            <li style="color:white">Jonathan Cortez</li>
            <li style="color:white">Nayeli Tipantiza</li>
        </ul>
    </section>
</main>
